.App {
  text-align: center;
  height: 100vh;
  color: #fff;
  margin: 0;
  padding: 0;
  font-family: 'Work Sans', sans-serif;
  background: linear-gradient(180deg,#23115c -.72%,#23115c);
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 10% 80% 10%;
  grid-template-areas: "header"
                      "main"
                      "footer";
}




