.greetingDiv {
    color: #fff;
    font-size: 20px;
    grid-area: main;
    width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 15% 85%;
    grid-template-areas: "greeting greeting"
                        "productOne productTwo";
}

.greetingText {
    grid-area: greeting;
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.productOne {
    grid-area: productOne;
    display: flex;
    justify-content: center;
    align-items: center;
}

.productTwo {
    grid-area: productTwo;
}